/*Верхнє фонове зображення*/
.image{
    height: 53.25rem;
    background-image: url(../Img/Успенський\ собор\ 1.jpg);
    background-size: cover;
    text-transform: uppercase;
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
}
/*Блоки з картками "Визначні місця"*/
.place1{
    width: 25rem;
    height: 25rem;
    border-radius:1.875rem 1.875rem 0.625rem 0.625rem;
    box-shadow:0.3125rem 1.875rem 1.25rem grey;
    margin:2rem;
    display: inline-block;
}
.place2{
    width: 25rem;
    height: 25rem;
    border-radius:1.875rem 1.875rem 0.625rem 0.625rem;
    box-shadow:0.3125rem 1.875rem 1.25rem grey;
    margin:2rem;
    display: inline-block;
}
.place3{
    width: 25.5rem;
    height: 25rem;
    border-radius:1.875rem 1.875rem 0.625rem 0.625rem;
    box-shadow:0rem 0.0625rem 0.3125rem grey;
    margin:2rem;
    display: inline-block;
}
p{
  color: #595050;
  font-size: 1rem;
}
/*Стиль для тексту з підкресленням*/
.Underline{
    text-decoration: solid #33B8F1 underline;  
    border-bottom: 0.7rem;
    text-underline-offset: 1rem;
}
/*Стилі для контактів внизу сторінки*/
.Contacts{
    font-size: 1.875rem;
}
.SM_ref{
    display: inline-block; 
    margin: 1.25rem;
}
a{
text-decoration:none; 
color: #353949;
}
/*Стилі для окремих елемнтів*/
#Support{
    width:20.625rem; 
    height:3.125rem; 
    background-color:#33ADF1; 
    text-align: center; 
    color: white; 
    text-transform: uppercase; 
    margin-left:35.9375rem; 
    font-size:2.5rem;
}
#Top{
    text-align:center;  
    font-size:3rem;
}
#Color{
  color: #33B8F1;
}
#Bottom{
  background-color:#0A2DA9; 
  text-align:center; 
  margin-top:11rem;
}