body{
    margin:0%;
    background-color: #212529;
 }
 /*Стильові параметри для поля навігації*/
.navigation{
    display: inline-block;
    color: white; 
    font-size: 125%;
    padding-left: 5%;
 }
.navigation:hover{
   color: #FFB742;
   cursor: pointer;
 }
nav{
    margin-left: 15%;
    margin-top: 2%;
    width: 35%;
 }
 /*Стильові параметри для символа в шапці сайту*/
#CoA{
    width: 40%;   
    margin-left: 30%; 
    margin-top: 8%;
 }
header{
    display: flex;
 }
 /*Стильові параметри для кнопки в шапці*/
.Hire{
    width: 7.5%;
    height: 5%;
    color: #212529;
    font-size: 125%;
    margin-left: 19%;
    margin-top: 2%;
    background-color: #FFB742;
    border-radius: 50px;
    text-align: center;
    line-height: 275%;
 }
.Hire:hover{
    cursor: pointer;
 }
 /*Стилові параметри для вступного блоку*/
#Introduction{
    text-align: center;
    color: white;
    margin-top: 10%;
    font-size: 200%;
    text-transform: capitalize;
 }
 /*Стилові параметри для тегу span в першому рядку вступного блоку*/
#First_row{
    color: #FFB742;
    text-decoration: underline;
 }
 /*Стилові параметри для другого рядку вступного блоку*/
#Second_row{
    font-size: 150%;
    margin-top: 1.5%;
 }
 /*Стилові параметри для третього рядку вступного блоку*/
#Third_row{
    font-size: 72%;
    margin-top: 3%;
 }
 /*Зображення аватару у вступному блоці*/
#Avatar{
    margin-top: 3%;
 }
 /*Стильові параметри для блоку з картками*/
#Achievements{
    margin-top: 10%;
    display: flex;
 }
.Blocks{
    background-color: #292B2E;
    border-radius: 10px;
    width: 30%;
    height: 7rem;  
    display: flex;
    margin-left: 2.5%;
 }
 /*Параметри для карток при наведенні*/
.Blocks:hover{
    background-color: #FFB742;
    color: black;
 } 
.Blocks:hover .Text{
    color: black;
 } 
.Blocks:hover .Figure{
    color: black;
 }
.Blocks:hover .Arrow{
        color: black;
 } 
 /*Параметри для маленьких зобржень всередині карток*/
.S_pic{
    margin-top: 5%;
    margin-left: 5%;
 }
 /*Параметри для тексту, цифер та стрілочок всередині карток*/
.Text{
    text-align: center;
    text-transform: capitalize;
    color: white;
    margin-left: 20%;
    margin-top: 5%;
    font-size: 100%;
 }
.Figure{
    font-size: 200%;
    color: #FFB742;
 }
.Arrow{
   margin-left: 25%;
   margin-top: 7%;
   font-size: 225%;
   color: #B3B3B3;
 }
 /*Стильові параметри для блоку з портретом та коротким біо*/
#Me{
    margin-left: 5%;
    margin-top: 10%;
    display: flex;
 }
#Description{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
 }
.Grey_block{
    background-color: #FFFFFF14;
    color:#FFB742;
    border-radius: 50px;
    text-transform: uppercase;
    text-align: center;
    line-height: 200%;
    width: 16%;
    height: 7.5%;
    font-size: 125%;
 }
 /*Стильові параметри для тексту в блоці з біо*/
.Big_white{
   color: white;
   text-transform: capitalize; 
   font-size: 250%;
   margin-left: 1.5%;
 }
#Bio{
color: #D4D4D4;
margin-left: 1.5%;
margin-top: 2.5%;
width: 67%;
line-height: 200%;
 }
 /*Кнопака аналогічна з шапки, але з корективами, тому був додаткво був створений id*/
#D_Hire{
    width: 15%;
    height: 10%;
    margin-top: 5%;
    margin-left: 2%;
 }
#Works{
    width: 12.5%;
    margin-left: 42.5%;
    margin-top: 5%;
 }
#F_works{
    margin-left: 40%;   
 }
 /*Параметри для поля навігації в середині сайту */
#Bottom_nav_block{
    width: 70%;
    margin-left: 24.5%;
    text-transform: capitalize;
 }
.Bottom_nav{
    width: auto;
    text-align: center;
    padding: 1.5%;
    border-radius: 3px;
    margin-left: 3%;
    display: inline-block;
    color: white; 
    font-size: 125%;
 }
.Bottom_nav:hover{
    background-color: #FFB742;
    color: black;
    cursor: pointer;
 }
 /*Стильові параметри для картинок з портфоліо*/
.Portfolio{
    display: flex;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
 }
 /*Стильові параметри для підвалу сайту*/
footer{
    background-color: #1C1C1C;
    display: flex;
    margin-top: 5%;
    height: 20rem;
 }    
#Footer_ul1{
    list-style-type: none;
 }
 /*Помаранчевий текст в підвалі*/
#Big_orange{
    color: #FFB742;
    text-transform: capitalize;
    padding-top: 15%;
    font-size: 200%;
 }
#Small_half_white{
    color: #D4D4D4;
    padding-top: 5%;
    width: 75%;
    line-height: 175%;
 }
.Footer_uls{
    list-style-type: none;
    margin-top: 40%;
 }
 /*Стильові параметри для перших рядків списків з підвалу*/
.First_li{
    color: #F5FBF2;
    text-transform: capitalize;
    font-size: 130%;
 }
.Footer_lis{
    color: #7B7B7B;
    margin-top: 15%;
 }
#Footer_last_ul{
    list-style-type: none;
    margin-top: 15%;
    width: 65%;
 }
.Footer_div{
    margin-left: 7%;
} 
#Footer_last_div{
    margin-left: 15%;
}
#The_last_li{
    margin-top: 10%;
}