body{
    margin: 0%;
    background-color: #E5E5E5;
    min-width: 700px;
    max-width: 1000px;
}
/*Стильові параметри для заголовка сторінки*/
.Head{
    margin-top: 5%;
    margin-left: 10.5%;
    font-size: 150%;
    font-weight: 650;
    min-width: 700px;
    max-width: 1000px;
}
.Mandatory{
    margin-top: 5%;
    margin-left: 10.5%;
    font-size: 87.5%;
    min-width: 700px;
    max-width: 1000px;
}
/*Стильові параметри для заголовків блоків*/
p{
    font-size: 1.25rem;
    font-weight: 650;
}
div + p{
    margin-left: 10.5%;
}
/*Червоний текст*/
.Red{
   color: red;
}
/*Текс зі зменшеним шрифтом*/
.Small{
    font-size: 90%;
}
.Smallest{
    font-size: 87.5%;
}
/*Стильові параметри для цілих блоків та окремо для правої та лівої частин*/
.Main{
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    min-width: 700px;
    max-width: 1000px;
}
.Left{
    width: 50%;
    margin-right: -5.125rem;
    margin-left: 4.6875rem;
}
.Right{
    width: 50%;
}
/*Стильові параметри для "Enrollment Initiation Date jquery"*/
#datepicker{
    background: #EFEFEF;
    border: #ADADAD solid 1px;
    height: 1.55rem;
}
/*Стильові параметри для "Enrollment Submission Date (Optional)"*/
#Submission_date{
    background: #EFEFEF;
    border: #ADADAD solid 1px;
    height: 1.7rem;
    text-align: center;
}
/*Стилізацію кольору тексту для "Application Registration"*/
#Application{
    color: #0050D8;
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: 96%;
}
/*Додавання стрілочки*/
#App_category{
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: 96%;
}
/*Відступ для поля "Exempt from Paternity"*/
#Paternity{
    margin-top: 1.7%;
}
/*Додавання стрілочки*/
#Enroll{
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: 96%;
    height: 1.6rem;
    margin-top: 0.6rem;
}
/*Додавання стрілочки*/
#Parents{
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: 96%;
}
/*Додавання стрілочки*/
#Arrears{
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: 96%;
}
/*Додавання стрілочки*/
#County{
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: 96%;
}
/*Додавання стрілочки*/
#Intergovermental{
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: 96%;
}
/*Додавання стрілочки*/
#Handling{
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: 96%;
}
/*Додавання стрілочки*/
#Handling_Other{
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: 96%;
}
/*Додавання стрілочки*/
#IV-D{
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: 96%;
}
/*Додавання стрілочки*/
#ICC{
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: 96%; 
}
/*Додавання стрілочки*/
#ICT{
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: 96%;   
}
/*Відступи основної частини форми від заголовків*/
.Left > div{
    margin-top: 0.9375rem;
}
.Right > div{
    margin-top: 0.9375rem;
}
/*Стильові параметри для тегів "input"*/
.Regular{
   width: 75%;
   height: 1.5625rem;
   margin-top: 0.625rem;
   border: #ADADAD solid 1px;
   border-radius: 3px;
}
/*Заміна стандартних чекбоксів на стилізовані*/
#Fee_check{
    margin-bottom: 3%;
    display: none;
}
#Label_Fee_check{
    color: black;
}
#Label_Fee_check:before{
    content: "";
    color: white;
    display: inline-block;
    font: 15px/20px Arial;
    margin-right: 0.3125rem;
    text-align: center;
    vertical-align: middle;
    width: 1.25rem;
    height: 1.25rem;
    background: #FFF;
    border: #ADADAD solid 1px;
    border-radius: 3px;
}
#Fee_check:checked + #Label_Fee_check:before{
    /*Галочка */
    content: "\2714";
    vertical-align: middle;
    background: #FF00FF;
    transition: 0.5s;
    border: #FF00FF solid 1px;;
}
#Fee_check_container{
    margin-bottom: 1.4375rem;
    margin-top: 1.25rem;
}
#Purge{
    display: none;
}
#Label_Purge{
    color: black;
}
#Label_Purge:before{
    content: "";
    color: white;
    display: inline-block;
    font: 15px/20px Arial;
    margin-right: 0.3125rem;
    text-align: center;
    vertical-align: middle;
    width: 1.25rem;
    height: 1.25rem;
    background: #FFF;
    border: #ADADAD solid 1px;
    border-radius: 3px;
}
#Purge:checked + #Label_Purge:before {
    /*Галочка */
    content: "\2714";
    vertical-align: middle;
    background: #FF00FF;
    transition: 0.5s;
    border: #FF00FF solid 1px;;
}
#Purge_container{
    margin-top: 7.2rem;
    margin-bottom: 1.5rem;
}
#Support{
    display: none;
}
#Label_Support{
    color: black;
}
#Label_Support:before{
    content: "";
    color: white;
    display: inline-block;
    float: left;
    font: 15px/20px Arial;
    margin-right: 0.3125rem;
    margin-top: 0.4375rem;
    text-align: center;
    vertical-align: middle;
    width: 1.25rem;
    height: 1.25rem;
    background: #FFF;
    border: #ADADAD solid 1px;
    border-radius: 3px;
}
#Support:checked + #Label_Support:before {
    /*Галочка*/
    content: "\2714";
    vertical-align: middle;
    background: #FF00FF;
    transition: 0.5s;
    border: #FF00FF solid 1px;;
}
#Support_Container{
    margin-top: 3.125rem;
}
/*Стильові параметри для "Exempt from Paternity (Optional) (select)"*/
#Purge_container + div{
    margin-top: 1.3125px;
}
/*Стильові параметри лінії-кордону між блоками*/
.Border{
    border-bottom: 1px solid #D1D1D1;
    width: 74.7%;
    margin-left: 10.5%;
}
/*Стильові параметри для "Additional Information Requested Date (Optional)"*/
#Requested_date{
    height: 1.6875rem;
    text-align: center;
}
/*Стильові параметри для "Fee Payment Date (Optional)"*/
#Payment_date{
    height: 1.6875rem;
    text-align: center;
}
/*Стильові параметри для "Other known biological parent?"*/
#Parents{
    margin-bottom: 1.5625rem;
}
/*Стильові параметри для "Case number"*/
#Case_No{
    height: 1.8rem;
    width: 76.61%;
}
/*Стильові параметри для "Referral Number"*/
#Ref_No{
    height: 1.8rem;
    width: 76.61%;
    margin-top: 0.6rem;
    border: #ADADAD solid 1px;
    border-radius: 3px;
}
/*Стильові параметри для "Special Handling Indicator for Other Parent"*/
#Handling_Other{
    margin-bottom: 1.5625rem;
}
/*Стильові параметри для "Owner"*/
#Owner{
    margin-bottom: 1.5625rem; 
    color: #0050D8;
}
/*Стильові параметри для тегів "input" четвертого блоку*/
.SI_Fields{
    width: 76.5%;
    height: 1.9375rem;
    margin-top: 0.625rem;
}
/*Стильові параметри для кнопки відправки форми*/
#Button_container{
    margin-left: 81.5%;
}
.Button{
    background: #0050D8;
    border:#0050D8;
    border-radius: 0.25rem;
    color: white;
    width: 3.75rem;
    height: 1.875rem;
    margin-top: 30%;
    margin-bottom: 150%;
}