body{
    margin: 0rem;
    background-color: #F5F5F5;
}
ul{
    margin: 0rem;
}
li{
    display: inline-block;
    vertical-align: middle;
    padding-left: 3.6875rem;
}
#header{
    background-color: #202846;
    height: 5.625rem;
    margin-top: 0rem;
    text-transform: uppercase;
    color: white;
    position: sticky; /* Фіксуання шапки вгорі блоку, в данному випадку майже вся сторінка зайнята одним блоком, тому по факту "sticky=fixed"*/
    top: 0rem;
    z-index: 1; /*Надання пріоритету відображення над іншими елементами з метою уникнення накладання*/
}
.header_pic{
    height: 4.375rem;
    padding-top: 0.625rem;
    padding-left: 4.6875rem;
}
.header_main{
    padding-left: 9.375rem;
}
.header_cab{
    text-align: center;
}
.header_globe{
    padding-left: 9.375rem;
}
.header_lang{
padding-left: 0.3125rem;
}
#Apartment_booking{
    height: 6.25rem;
    background-color: #C6C6DC;
    padding-left: 15.625rem;
    line-height: 5.625rem;
    color: #202846;
    font-style: italic;
    font-size: 1.875rem;
}
#Location{
    width: 81.25rem;
    height: 3.75rem;
    background-color: #E8E8E8;
    position: absolute;
    top: 15.625rem;
    left: 7.8125rem;
    color: #00000061;
    text-align: center;
    font-size: 1.5625rem;
    line-height: 3.4375rem;
}
#Arrow{
    padding-left: 31.25rem;
    margin-right: -28.125rem;
    vertical-align: middle;
}
.Cards{
    margin-top: 12.5rem;
    margin-bottom: 9.375rem;
    margin-left: 7.8125rem;
}
.Cards_content{
    width: 78.125rem;
    height: 18.75rem;
    background-color: #BDBDC6;
    margin-top: 0rem;
}
/*Зміна стилю при наведенні*/
.Cards_content:hover{
    background-color: #AEAEE2;
    box-shadow: 1rem 1rem 2rem #AEAEE2;
    transition: .5s;
}
.image{
    padding-left: 6.25rem;
    padding-top: 1.875rem;
    display: inline-block;
}
.Cards_title{
    width: 31.25rem;
    color: #353C57;
    font-style: italic;
    position: relative;
    font-size: 1.5625rem;
    left: 40.625rem;
    bottom: 15.625rem;
    border-bottom: solid 0.1875rem white;
}
.Description{
    height: 10.9375rem;
    width: 31.25rem;
    background-color: #D7D7DD;
    display: inline-block;
    color:  #202846;
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.6875rem;
    position: relative;
    left: 40.625rem;
    bottom: 14.6875rem;
}
.Star{
   color: white;
   font-size: 4.0625rem;
   position: relative;
   left: 73.4375rem;
   bottom: 20rem;
   width: 3.125rem;
   height: 0rem;
   background-color: #202846;
}
/*Зміна стилю при наведенні*/
.Star:hover{
    color: #FFFF00;
    transition: .5s;
    cursor: pointer;
}
.Details{
    width: 12.5rem;
    height: 4.6875rem;
    background-color:  #202846;
    color: white;
    position: relative;
    text-align: center;
    line-height: 4.5rem;
    border-radius: 3rem;
    font-size: 1.5rem;
    left: 70.625rem;
    bottom: 5.3125rem;
}
/*Зміна стилю при наведенні*/
.Details:hover{
    background-color: #EF075B;
    transition: .5s;
    cursor: pointer;
}
#fixed{
    background-color:  #5557689E;
    border-radius: 50%;
    width: 6.3125rem;
    height: 6.3125rem;
    text-align: center;
    position: fixed;
    bottom: 6.25rem;
    right: 0.625rem;
}
#Up{
    padding-top: 1.25rem;  
}