body{
    margin: 0%;
    display: flex;
}
/*Стильові параметри для лівої частини сторінки, включно з фоном*/
.Left{
    width: 55%;
    background-image: url(../img/Stroke\ 5.png);
    background-repeat: no-repeat;
    background-size: 80%, contain;
    
}
/*Стильові параметри для "Kreativ"*/
.Top{
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 135%;
    margin: 2.7% 7.5%;
}
/*Стильові параметри для правої частини сторінки*/
.Right{
    width: 45%;
    background: linear-gradient(87.21deg, #517879 4.83%, #1E3E57 103.44%);
    box-shadow: 
    -0.15625rem 0rem 0.1875rem -0.0375rem #517879, 
    inset -0.125rem 0.0625rem 0.25rem -0.0625rem white, 
    inset -0.125rem -0.0625rem 0.25rem -0.0625rem white;
}
/*Стильові параметри для шапки в правій частині сторінки*/
header{
    margin-top: 5.5%;
    margin-left: 45%;
}
ul{
    display: flex;
    list-style-type: none;
}
li{
    padding-left: 7.5%;
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 100%;
    color: #FFFFFF;
}
/*Стильові параметри для основної частини правої сторінки*/
.Quote{
    margin-left: 17%;
    margin-top: 15%;
    width: 60%;
    font-family: 'Space Grotesk';
    color: #FFFFFF;
    font-size: 400%; 
    line-height: 175%;
    text-shadow: 0.3rem 0.3rem 0rem rgba(255,255,255, 0.1);
    
}
.Einstein{
    font-size: 30%;
}
/*Стильові параметри для тексту перед формою*/
.Preform{
    font-size: 100%;
    font-weight: 700;
    font-family: 'Space Grotesk';
    margin-top: 6%;
    margin-left: 20%;
}
/*Стильові параметри для форми*/
form{
    margin-left: 20%;
    margin-top: 4.5%;
}
label{
    font-size: 85%;
    font-family: 'Space Grotesk';
}
input{
    width: 60%;
    height: 1.7rem;
    background-color: rgba(28, 28, 28, 0);
    border: 0.0625rem solid #CCCCCC;
    border-radius: 0.25rem;
    box-shadow: 0rem 0.125rem 0.125rem 0.125rem rgba(204, 204, 204, 0.1);
    color: rgba(0, 0, 0, 0.5);
    font-size: 70%;
    font-family: 'Space Grotesk';
    padding-left: 2.5%;
}
/*Відступи між полями*/
.inForm{
    margin-top: 3.5%; 
}
#Phone{
    padding-left: 5%;
    width: 57.5%;
}
/*Стильові параметри тексту з вимогами до паролю*/
p{
   color: #CCCCCC; 
   font-family: 'Space Grotesk';
   font-size: 70%;
}
/*Стильові параметри для "(Optional)"*/
.Grey-small{
   color: #CCCCCC; 
   font-family: 'Space Grotesk';
   font-size: 70%;
   margin-left: 0.5%;
}
/*Стильові параметри для кнопки відправки даних форми*/
.Button{
    color: #FFFFFF;
    background-color: #27485D;
    font-size: 100%;
    font-family: 'Space Grotesk';
    height: 30px;
    width: 63%;
    border: 0.0625rem solid #284A5E;
}
/*Стильові параметри для тексту під формою*/
.Login{
    font-size: 90%;
    font-family: 'Space Grotesk';
    color: #C4C4C4;
    width: 50%;
    margin-top: 3%;
    margin-left: 37%;
    padding-bottom: 9.4%;
}
/*Стильові параметри для посилання на сторінку авторизації*/
a{
    color: #476D73;
    text-decoration: none;
    border-bottom: #476D73 solid 0.125rem;
    margin-left: 1%;
}
